:root {
  /* --primaryColor: #264653; */
  --primaryColor: #17223b;
  /* --secondaryColor: #2a5263; */
  --secondaryColor: #172e61;
  --fontColor: #eb5757;
  --borderColor: #eb5757;
  --secondaryFontColor: #000000;
  --themeBorder: #ffffff;
  --overlayColor: rgba(235, 87, 87, 0.73);
  --shadowColor: rgba(235, 87, 87, 0.3);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#light {
  background-color: #cabfbf;
}
#pink {
  background-color: #eb5757;
}
#dark {
  background-color: #413d3d;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--fontColor);
  /* font-size:24px; */
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--fontColor);
}
h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 21px;
}
h5 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}

.S1 {
  background-color: var(--primaryColor);
  width: 100%;
  /* height: 100vh; */
  border-bottom: 2px solid var(--borderColor);
  overflow: auto;
}

.S2 {
  background-color: var(--secondaryColor);
  width: 100%;
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}
header {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.logo {
  width: 13rem;
}
.mainContainer {
  width: 1150px;
  margin: 0 auto;
}

.container {
  /* padding: 2rem; */
  background-color: var(--secondaryColor);
  border: 2px solid var(--borderColor);
  border-bottom: 0px;
  border-radius: 20px 20px 0px 0px;
  box-shadow: -1px 1px 3px 2px var(--shadowColor);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "navWrapper navWrapper"
    "leftColumn rightColumn";
}
.navWrapper {
  grid-area: navWrapper;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.themeDiv {
  display: flex;
  padding: 1rem;
}
.themeD {
  margin-left: 10px;
  border-radius: 50%;
  border: 2px solid var(--themeBorder);
  height: 20px;
  width: 20px;
}
.themeD:hover {
  border-width: 5px;
  cursor: pointer;
}
#light:hover {
  border-color: #cabfbf;
}
#pink:hover {
  border-color: #eb5757;
}
#dark:hover {
  border-color: #413d3d;
}
#navigation {
  display: flex;
  margin-right: 15px;
  padding: 5px;
}
#navigation:hover{
  border:2px solid var(--secondaryFontColor);
  border-radius: 5px;
}

.leftColumn {
  grid-area: leftColumn;
  padding-top: 50px;
  padding-bottom: 50px;
}

#profile {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 2px solid var(--shadowColor);
  filter: drop-shadow(-5px 5px 20px var(--shadowColor));
  border-radius: 16px 16px 16px 16px;
}


.rightColumn {
  grid-area: rightColumn;
  display: grid;
  /* align-content:center; */
  padding-top: 50px;
  padding-bottom: 50px;
  /* justify-content: center; */
}
.preview {
  width: 300px;
  padding: 50px;
  font-family: "Pangolin", cursive;
  position: relative;
}

.overlays {
  font-weight: normal;
  font-family: Shadows Into Light Two;
  /* border-left:3px solid var(--borderColor);
  border-bottom:3px solid var(--borderColor); */
  /* box-shadow:-15px 5px 10px  rgba(235, 87, 87, 0.3); */
  width: max-content;
  display: block;
  margin: 15px;
  position: absolute;
  color: var(--secondaryFontColor);
  height: 60%;
  background-color: var(--overlayColor);
  padding: 10px;
}
#overlay1 {
  padding-left: 20px;
  top: -15px;
  left: -5px;
}
#overlay2 {
  padding-left: 20px;
  top: 20px;
  left: 30px;
}
#overlay3 {
  padding-left: 20px;
  top: 60px;
  left: 70px;
}

@media screen and (max-width: 1366px) {
  .mainContainer {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "navWrapper"
      "leftColumn"
      "rightColumn";
  }
  .rightColumn {
    justify-content: center;
  }
  .overlays {
    font-weight: normal;
    font-family: Shadows Into Light Two;
    border-left: 3px solid var(--borderColor);
    border-bottom: 3px solid var(--borderColor);
    box-shadow: -5px 3px 5px var(--overlayColor);
    width: max-content;
    display: block;
    /* margin: 15px; */
    position: absolute;
    color: #000000;
    padding: 0px;
    background-color: var(--secondaryColor);
    height: inherit;
  }
  #overlay1 {
    padding-left: 20px;
    top: -15px;
    left: -5px;
  }
  #overlay2 {
    padding-left: 20px;
    top: 20px;
    left: 30px;
  }
  #overlay3 {
    padding-left: 20px;
    top: 60px;
    left: 70px;
  }
}

/* Section two */

.aboutWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding-top: 50px;
  padding-bottom: 50px;
}
.mePara {
  background-color: var(--primaryColor);
  border-radius: 10px;
  margin: 15px 0px;
}
.mePara p {
  margin-left: 10px;
}

.topExpertise {
  display: flex;
  justify-content: space-around;
  background-color: var(--primaryColor);
  border-radius: 15px;
  margin: 15px 0px;
}
.socialMedia {
  display: flex;
  justify-content: space-around;
  background-color: var(--primaryColor);
  border-radius: 15px;
  margin: 15px 0px;
}
.badges {
  display: flex;
  justify-content: space-around;
}
.SL{
      padding:5px; 
}
.linkedinsmall,.fiverrsmall{
  display: none;
}
.no{
  display: none;
}









@media screen and (max-width: 800px) {
    .mainContainer{
      display: block;
    }
  .topExpertise {
    display: block;
    padding: 15px;
    text-align: inherit;
  
  }
  .badges {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .socialLinks{
    display:none;
  }
  .no{
    display: block;
  }
  .aboutWrapper{
    display: flex;
    justify-content: center;
    flex-basis: 500px;
  }
  .aboutMe{
    width:80%;
  }
}


.Projects{
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  align-items: center;
}
.cards{
  width: 250px;
  height: 350px;
  background-color: var(--secondaryColor);
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius:15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.visitMe {
  background-color: var(--borderColor);
  border-radius: 10px;
  color: var(--secondaryFontColor);
  width: 150px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 5px;
}
.visitMe:hover {
  border: 2px solid var(--themeBorder);
}

@media screen and (max-width: 800px) {
  .Projects{
    flex-direction: column;
    align-items: center;
  }

}

.promo{
  text-align: center;
  margin-top:20px;
  padding: 10px;
}
.button {
  margin-top: 20px;
  border: 1px transparent;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  color: var(--fontColor);
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  margin-left: 20px;
  -webkit-animation: glowing 1300ms infinite;
  -moz-animation: glowing 1300ms infinite;
  -o-animation: glowing 1300ms infinite;
  animation: glowing 1300ms infinite;
}

@-webkit-keyframes glowing {
  0% {
    background-color: #0091b2;
    -webkit-box-shadow: 0 0 3px #0091b2;
  }
  50% {
    background-color: #21c7ed;
    -webkit-box-shadow: 0 0 15px #21c7ed;
  }
  100% {
    background-color: #0091b2;
    -webkit-box-shadow: 0 0 3px #0091b2;
  }
}
@keyframes glowing {
  0% {
    background-color: #0091b2;
    box-shadow: 0 0 3px #0091b2;
  }
  50% {
    background-color: #21c7ed;
    box-shadow: 0 0 15px #21c7ed;
  }
  100% {
    background-color: #0091b2;
    box-shadow: 0 0 3px #0091b2;
  }
}


.click-here {
  width: 100px;
  right: 1.5em;
  position: absolute;
  top: 4em;
  left:3em;
}

@media screen and (max-width: 800px) {
  .click-here{
    display: none;
  }
}

@media screen and (max-width:600px){

  .modal{  
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 90%;
    margin:0 auto;
    z-index: 1;
  }
}

.modal{  
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  margin-top:20px
  
}

#contact-form{
	display: block;
	max-width: 600px;
	margin: 2% auto;
	border: 1px solid var(--borderColor);
	padding: 15px;
	border-radius: 5px;
	background-color: var(--mainColor);
  margin-bottom: 50px;
  background-color: var(--secondaryColor);

}

#contact-form label{
	line-height: 2.7em;
}

#contact-form textarea{
	min-height: 100px;
	font-size: 14px;
}


.input-field{
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	border-radius: 5px;
	border:1px solid var(--borderColor);
	font-size: 14px;
}

.close{
  cursor: pointer;
}
#submit-btn{
	margin-top: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
  color:var(--fontColor);
	background-color: var(--buttonColor);
  border:none;
  cursor: pointer;
}

#submit-btn:hover{
  border:2px solid var(--fontColor)
}

.isBlur{
  filter: blur(2px);
  -webkit-filter: blur(2px);
}


.contact {
  background-color: var(--borderColor);
  border-radius: 10px;
  color: var(--secondaryFontColor);
  width: 150px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  padding: 5px;
}
.contact:hover {
  border: 2px solid var(--themeBorder);
}