@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-background: #050505;
  --primary-background:#101010;
  --secondary-background:#191919;
  --primary-foreground: #E6E6E6;
  --secondary-foreground:#999999;
  --primary-accent:#916CE7;
  --primary-border:#ffffff1b;
}

body {
  color: var(--primary-foreground);
  background: var(--dark-background);
  font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar {
  display: none;
}